server {
    listen       ${PORT};
    server_name  _;

    root   /usr/share/nginx/html;
    index  index.html;

    location / {
        # Try file, else route to index.html for SPA
        try_files $uri $uri/ /index.html;
    }

    # Optional: gzip
    gzip on;
    gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;
    gzip_disable "msie6";
} 